body {
    background-color: #E8E09A;
    font-family: "Ubuntu", sans serif;
    padding-top: 60px;
    margin-bottom:0;
}

.container-fluid {
    margin:0;
    padding:0;
    width:100%;
}

.row {
    margin-left:-15px;
    margin-right:0;
}

nav h1 {
    font-size:40px;
    text-align:center;
}

.container-fluid {
    margin:0;
    padding:0;
}

header li a { 
    color:#E8E09A !important;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:500;
    font-size:25px;
    margin-left:15px;
}

header li a:hover {
    color:#FF8303 !important ;
}
.name{
    position:relative;
    float:left;
    margin-left:40px;
    padding-left:0;
    font-size:40px;
    color:#E8E09A;
}
.navbar-toggler {
    float:right;
}

.cover-image{
  background:no-repeat;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
  position: relative;
  }

  .cover-image img {
    height:550px;
    width: 100%; 
  }

/*-------------Intro Section---------------*/
.top-heading {
    padding-top:90px;
    padding-bottom: 15px;;
    margin-bottom: 20px;
    margin-top:-20px;
    text-align: center;
    text-transform: uppercase;
    color:#343A40;

}
.intro-image
 {
    height:auto;
    width:100%;
    margin-bottom: 50px;
    opacity: 0.9;
    border-radius: 2%;
}
.head-intro{
    margin-top:-70px;
    margin-bottom:20px;
}

.intro-text {
    margin-left:20px;
    padding:25px;
    font-size:20px;
    letter-spacing:4px;
    color: #343A40;
    text-transform:uppercase;
}

/*-------------Contact Section---------------*/

.form-images{
    max-width:100%;

}
#addis,
#lalibela,
#boy{
    width:100%;
    height:auto;
}

.threeimg{
    padding-left:0px;
    padding-right:0px;
}





/*-------------Foooter---------------*/
footer{
   background-color:#343A40; 
}
footer a,p{
    text-decoration:none;
    color:#E8E09A;

}

footer a:hover{
    text-decoration: none;
    color:#FF8303;
}
.my-auto {
    margin-top: auto!important;
    padding-bottom: 1rem!important;
}