body {
    background-color: #E8E09A;
    color:#343A40;
    font-family: "Ubuntu", sans serif;
    padding-top: 60px;
    margin-bottom:-16px;

}

.icon{
    text-align: center;
    padding-top:15px;
    padding-bottom: 30px;
    font-size:30px;
    color:#343A40;
}



.container-fluid {
    margin:0;
    padding:0;
    width:100%;
}

.row {
    margin-left:-15px;
    margin-right:0;
}

nav h1 {
    font-size:40px;
    text-align:center;
}


header li a { 
    color:#E8E09A !important;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:500;
    font-size:25px;
    margin-left:15px;
}

header li a:hover {
    color:#FF8303 !important ;
}
.name{
    position:relative;
    float:left;
    margin-left:40px;
    padding-left:0;
    font-size:40px;
    color:#E8E09A;
}
.navbar-toggler {
    float:right;
}

.cover-image{
  background:no-repeat;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
  position: relative;
  }

  .cover-image img {
    height:550px;
    width: 100%; 
  }

/*-------------Intro Section---------------*/
.top-heading {
    padding-top:90px;
    padding-bottom: 15px;;
    margin-bottom: 20px;
    margin-top:-20px;
    text-align: center;
    text-transform: uppercase;
    color:#343A40;

}
.intro-image
 {
    height:auto;
    width:100%;
    margin-bottom: 50px;
    opacity: 0.9;
    border-radius: 2%;
}
.head-intro{
    margin-top:-70px;
    margin-bottom:20px;
}

.intro-text {
    margin-left:20px;
    padding:25px;
    font-size:20px;
    letter-spacing:4px;
    color: #343A40;
    text-transform:uppercase;
}

/*-------------Form Section---------------*/

.form-images{
    max-width:100%;
    padding-top:22px;

}
#addis,
#lalibela,
#boy{
    width:100%;
    height:auto;
}

.threeimg{
    padding-left:0px;
    padding-right:0px;
}

.form-text{
    color:#343A40;
    padding: 20px;
    font-size: 20px;;
}
.fill-form{
    text-align: center;
    text-transform: uppercase;
    padding:30px;
}
.btn-submit {
    background-color:#343A40;
    color:#E8E09A;
    text-transform: uppercase;
    
}
.btn-submit:hover {
    background-color: #FF8303;
    color:#343A40;
}



/*-------------Foooter---------------*/
footer{
   background-color:#343A40; 
}
footer p {
    color:#E8E09A;
}
footer a{
    text-decoration:none;
    color:#E8E09A;

}
#contact-footer-p{
    padding-top:20px;
    padding-bottom: 20px;

}

footer a:hover{
    text-decoration: none;
    color:#FF8303;
}
.my-auto {
    margin-top: auto!important;
    padding-bottom: 1rem!important;
}
/*------------------Quiz Section--------*/

h2{
    text-align: center;
    color:#343A40;
}
/* answers */
#ethioQuiz{
   max-width: 80%;
   margin: 20px auto;
   height:500px;
   background-color: #343A40;
  }
  
#quizQuestion {
    padding-top:20px;
    padding-bottom: 50px;
    color:#E8E09A;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
  }
  #quizScore {
      text-align: center;
      color:#E8E09A;
      font-size: 20px;
  }
  

.answer{
    background-color: #E8E09A;
    border-color: #E8E09A;
    border-radius: 10px;
    color: #343A40;
    display: grid;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
   }

   .btn {
       width:80%;
       margin-left:10%;
       margin-bottom: 20px;
   }
   #refresh{
    width:20%;
    margin-left:40%;
    margin-top: 30px;
    background-color: #E8E09A;
    border-color: #E8E09A;
    text-transform: uppercase;
    border-radius: 10px;
    color: #343A40;
}

#refresh:hover{
    background-color: #FF8303;
    border-color:#FF8303;
    color:#E8E09A;
    
}
   
  .answer:hover{
       background-color:#FF8303;
       color:#E8E09A;
       border: #E8E09A;
       border-width: 5px;
   }
   .answer:focus {
    background-color:#FF8303;
    color:#E8E09A;
    border: #E8E09A;
    border-width:5px;
}

   
   /*------------------Map Section--------*/

#map {
    height:500px;
    width:80%;
    margin-left:10%;
    margin-bottom:10%;
    align-items: center;
}

.map-intro{
    padding-bottom: 15px;;
    margin-bottom: 20px;
    margin-top:-20px;
    text-align: center;
    text-transform: uppercase;
    color:#343A40; 
}

.hidden{
    display: none;
}

.marker-image{
    width:100%;
    height:auto;
    margin-bottom:20px;
}
.places-link{
    text-decoration: none;
    font-weight:bold;
    color:#343A40;
}

.places-link:hover {
    text-decoration: none;
    color:#FF8303;
    font-weight:bold;
}


.content-heading{
    text-align:center;
    padding-bottom:20px;
}

/*-------------Media Querys------------------*/


@media screen and (min-width:320px) and (max-width:380px){
    .name {
        padding-left:10px;
        padding-right:0px;
        font-size: x-large;
    }

    header li a {
        font-size: large;
    }

    #refresh{
        width:30%;
        margin-left:35%;
        color:#E8E09A;
        background-color: #343A40;
    }
    .cover-image img {
        height:auto;
        width: 100%; 
      }
      .navbar{
          padding-bottom:15px;
      }

      header li a {
          font-size: large;
      }
      .form-images{
          padding-top:0;
      }
      .places-content{
        font-size: x-small;
    }
    
}

@media screen and (min-width:381px) and (max-width:453px){
    .name {
        padding-left:10px;
        padding-right:0px;
        font-size:x-large;
    }
    header li a {
        font-size: large;
    }
    .intro-text{
        font-size: large;
    }
    #refresh{
        width:30%;
        margin-left:35%;
        color:#E8E09A;
        background-color: #343A40;
    }
    .cover-image img {
        height:auto;
        width: 100%; 
      }
      .places-content{
          font-size: x-small;
      }
}
     

